<!--<div class="hero" >-->

<!--  <mat-toolbar color="warn">-->
<!--    <h1>Dermatology</h1>-->
<!--    <h2>DermAPP</h2>-->
<!--    <div class="mat-spacer"></div>-->
<!--    <a mat-button *ngFor="let option of options"-->
<!--       [routerLink]="option.path">{{ option.title }}</a>-->

<!--  </mat-toolbar>-->

<!--</div>-->

  <div class="hero">
    <div class="background-image" style="background-image: url(assets/hero.jpg)" role="img"
         aria-label="An astronaut space walk, representing our capacity to help you achieve the highest business goals and standards"></div>

    <div class="frase">
      <h1>DERMAPP</h1>
      <h1>In clinical dermatology, the dermatologist is the specialist doctor responsible for the study of healthy skin, as well as the diseases that affect it, its diagnosis, prevention and treatment.</h1>
      <a href="" >Who start?</a>
      <button mat-button [routerLink]="'/login'" mat-flat-button color="primary">LOG IN</button>
    </div>

  </div>


