<section>
  <div class="name-btnEditP">
    <h1>Mauricio Rios, MD</h1>
    <button mat-raised-button routerLink="/edit-profile">Edit Profile</button>
  </div>
  <div class="profile">
    <div class="profile-section1">


      <img src="/assets/dermatologist.png">
      <br>
      <div class="matIcon">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star_half"></mat-icon>
      </div>

    </div>
    <div class="profile-section2">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Ingrese su nombre Por favor</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field>
      <button mat-raised-button (click)="getAllPatients2(2)">Basic</button>
      <!--    <button mat-raised-button routerLink="/edit-profile">Edit Profile</button>-->
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="youtube"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="Linkedin"></mat-icon>
      <!--    <table matSort *ngFor="let c of ">-->
      <!--      <tr>-->
      <!--        <th mat-sort-header="name" *matCellDef="let element">Dessert (100g){{element.id}}</th>-->
      <!--        <th mat-sort-header="name" *matCellDef="let element">Dessert (100g){{element.name}}</th>-->
      <!--        <th mat-sort-header="name" *matCellDef="let element">Dessert (100g){{element.age}}</th>-->
      <!--        <th mat-sort-header="name" *matCellDef="let element">Dessert (100g){{element.address}}</th>-->
      <!--&lt;!&ndash;        <th mat-sort-header="calories">Calories</th>&ndash;&gt;-->
      <!--&lt;!&ndash;        <th mat-sort-header="fat">Fat (g)</th>&ndash;&gt;-->
      <!--&lt;!&ndash;        <th mat-sort-header="carbs">Carbs (g)</th>&ndash;&gt;-->
      <!--&lt;!&ndash;        <th mat-sort-header="protein">Protein (g)</th>&ndash;&gt;-->
      <!--      </tr>-->

      <!--      <tr *ngFor="let dessert of sortedData">-->
      <!--        <td>{{dessert.name}}</td>-->
      <!--        <td>{{dessert.calories}}</td>-->
      <!--        <td>{{dessert.fat}}</td>-->
      <!--        <td>{{dessert.carbs}}</td>-->
      <!--        <td>{{dessert.protein}}</td>-->
      <!--      </tr>-->
      <!--    </table>-->
    </div>




  </div>

</section>
