<div class="about">
  <div class="background-image" style="background-image: url(assets/team.jpg)"  role="img"
       aria-label="An astronaut space walk, representing our capacity to help you achieve the highest business goals and standards"></div>
  <h1>The Developers from the DermAPP</h1>

  <div class="the-team">

    <div class="jasmin">
      <img src="assets/jasmin.jpg" alt=""/>
      <h3>Tengo 19 años, nací en Lima. Actualmente estoy en la carrera de Ingeniería de Software. Me considero una persona responsable y puntual. Me gusta adquirir nuevos conocimientos.
      </h3>
    </div>
    <div class="diego">
      <img src="assets/diego.png" alt=""/>
      <h3>Tengo 19 años. Con respecto a mis hobbies, me gusta hacer ejercicios diarios para mantener una vida saludable acompañado de una buena alimentación.</h3>
    </div>
    <div class="leonardo">
      <img src="assets/leonardo.png" alt=""/>
      <h3>Tengo 20 años y considero que soy alguien responsable al momento de realizar mis tareas y he ganado experiencia trabajando en equipo en los ciclos anteriores. </h3>
    </div>
    <div class="emilia">
      <img src="assets/emilia.png" alt=""/>
      <h3>Tengo 25 años y estoy estudiando la carrera de Ingeniería de Software. Me interesa mucho el desarrollo de aplicaciones que puedan ayudar el día a día de las personas.</h3>
    </div>
    <div class="thomas">
      <img src="assets/thomas.png" alt=""/>
      <h3>Soy estudiante de ingeniería en París. Tengo 23 años y me estoy especializando en ciberseguridad. Me gusta trabajar en proyectos que permitan una mejora en el ámbito de la Salud</h3>
    </div>

  </div>


</div>

